# 디폴트 무시된 파일
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Rider에서 무시된 파일
/projectSettingsUpdater.xml
/.idea.Last_Oasis.iml
/contentModel.xml
/modules.xml
